h1 {
    font-size: 1.9rem;
    font-family: sans-serif;
    color: rgb(18, 91, 173);
    font-style: italic;
}

.title-password {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 4rem;
}